body {
  margin: 100px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  margin: 0;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

h4 {
  font-size: 48px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  background: #6c63ff;
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  padding: 20px 15px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: capitalize;
}

.secondary-link {
  color: #6c63ff;
  border: 1px solid #6c63ff;
  padding: 20px 15px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: capitalize;
}

.email-link {
  font-size: 28px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

@media (max-width: 300px) {
  h1 {
    color: red;
  }
}
